# Ignore local config files
config

# Ignore built files
build/
*.o
*.a
*.so
*.pyc

# Ignore databases
*.db*

# Ignore Eclipse project files
.project
.cproject
.settings
.pydevproject

# Ignore archives
*.tar.gz
